---
import '/assets/main.css'
import type { MDXLayoutProps } from 'astro'
import TOC from '/components/TOC.svelte'
import Input from './_example/input.mdx'
import Output from './_example/output.mdx'
import Example from './_example/input.astro'
import Split from './_Split.svelte'
import Browser from './_Browser.svelte'
import { searchForWorkspaceRoot } from 'vite'
import { relative } from 'node:path'
import logo from '/assets/logo.svg'
import preview from '/public/preview.png'
import pkg from '/../plugin/package.json'
import { Image, getImage } from 'astro:assets'
import Stargazers from '/components/Stargazers.svelte'

const repo = pkg.repository.url.replace(/^git\+/, '').replace(/\.git$/, '')

const previewOptimized = await getImage({ src: preview, format: 'png' })
const image = import.meta.env.URL
	? new URL(previewOptimized.src, import.meta.env.URL)
	: previewOptimized.src

type Props = MDXLayoutProps<{
	title: string
	headline: string
	lead: string
	description: string
}>

const { headings, file, frontmatter } = Astro.props

const root = searchForWorkspaceRoot(file)
const path = relative(root, file)
---

<!doctype html>
<html
	lang="en"
	class="min-h-screen scroll-pt-10 overflow-x-hidden bg-white antialiased motion-safe:scroll-smooth dark:bg-slate-900"
>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href={logo.src} />
		<meta name="twitter:creator" content="@mbarvian" />
		<meta property="og:type" content="article" />
		<meta property="og:image" content={image} />
		<meta name="twitter:card" content="summary_large_image" />
		<meta property="twitter:image" content={image} />
		<meta name="generator" content={Astro.generator} />
		<title>{frontmatter.title}</title>
		<meta property="og:title" content={frontmatter.title} />
		<meta name="twitter:title" content={frontmatter.title} />
		<meta name="description" content={frontmatter.description} />
		<meta property="og:description" content={frontmatter.description} />
		<meta name="twitter:description" content={frontmatter.description} />
	</head>
	<header class="~pt-5/8 ~pb-20/28 relative">
		<div
			class="~bottom-40/72 before:bg-grid-slate-900/[0.04] dark:before:bg-grid-slate-400/[0.05] after:bg-gradients absolute inset-0 -z-10 bg-slate-50 before:absolute before:inset-0 before:bg-[bottom_1px_center] before:[mask-image:linear-gradient(transparent,black)] after:absolute after:bottom-0 after:left-1/2 after:h-[120%] after:w-full after:max-w-[90rem] after:-translate-x-1/2 after:opacity-30 after:blur-3xl dark:border-b dark:border-slate-100/5 dark:bg-[#0B1120] dark:before:bg-bottom"
		>
		</div>
		<nav class="~mb-20/28 container flex items-center justify-start">
			<div class="flex items-center gap-4">
				{/* <a href="//fluid.style"> */}
				<Image src={logo} alt="Fluid for Tailwind logo" height="24" loading="eager" />
				{/* </a> */}
				{
					/*
					<svg class="mx-2 h-6" role="separator" viewBox="0 0 32 32"
						><path
							d="M22 5L9 28"
							vector-effect="non-scaling-stroke"
							class="stroke-slate-200 dark:stroke-slate-700"
							stroke-linecap="round"
							stroke-linejoin="round"></path></svg
					>
				*/
				}
				<span class="text-slate-700 dark:text-slate-200"
					>Fluid for Tailwind<span class="max-[22rem]:sr-only"> CSS</span></span
				>
			</div>
			<a
				href={repo}
				class="ml-auto flex items-center gap-2.5 text-slate-400 hover:text-slate-500 dark:hover:text-slate-300"
				aria-label="View on GitHub"
			>
				<Stargazers client:only="svelte" />
				<svg viewBox="0 0 16 16" class="h-6 w-6" fill="currentColor" role="none">
					<path
						d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.013 8.013 0 0016 8c0-4.42-3.58-8-8-8z"
					></path>
				</svg>
			</a>
		</nav>
		<div class="container relative flex flex-col items-center">
			<h1
				class="~text-4xl/6xl max-w-3xl text-balance text-center font-extrabold tracking-tight text-slate-900 dark:text-white"
			>
				{frontmatter.headline}
			</h1>
			<p
				class="prose prose-lg prose-slate dark:prose-invert mt-6 max-w-3xl text-balance text-center"
				set:html={frontmatter.lead}
			/>
			<a
				class="~mt-6/8 dark:highlight-white/20 inline-flex h-12 items-center justify-center rounded-lg bg-slate-900 px-6 font-semibold text-white hover:bg-slate-700 focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-slate-400 focus-visible:ring-offset-2 focus-visible:ring-offset-slate-50 active:bg-slate-900 dark:bg-sky-500 dark:hover:bg-sky-400 dark:active:bg-sky-500"
				href="#installation">Get started</a
			>
			<div class="~mt-16/24 sm:~mt-24/36 relative w-full">
				<Split
					class="~h-[29.5rem]/[40rem] sm:ml-auto sm:w-[60%]"
					shadow="shadow-xl"
					rows="grid-rows-[minmax(0,1.68fr)]"
				>
					<Input />
					<Output />
				</Split>
				<Browser
					class="absolute -top-10 left-0 right-1/3 z-10 h-full max-sm:hidden"
					client:intersecting={{ threshold: 0.5 }}
				>
					<Example />
				</Browser>
			</div>
		</div>
	</header>
	<div class="~lg:~gap-x-6/10 container grid grid-cols-1 lg:grid-cols-[auto_minmax(0,1fr)]">
		<div class="relative w-[13rem] max-lg:hidden">
			<div class="~lg:~pr-6/10 sticky top-0 -mt-10 max-h-screen overflow-y-auto py-10">
				<TOC {headings} client:load />
			</div>
		</div>
		<main>
			<article class="prose prose-slate dark:prose-invert mx-auto w-full lg:max-w-none">
				<slot />
			</article>
		</main>
		<footer
			class="mt-16 justify-between border-t border-slate-200 pb-14 pt-10 text-sm text-slate-500 sm:flex lg:col-start-2 dark:border-slate-200/5"
		>
			<div class="mb-6 sm:mb-0 sm:flex">
				<p>Copyright ©{new Date().getFullYear()}. Not affiliated with Tailwind Labs Inc.</p>
			</div>
			<a class="hover:text-slate-900 dark:hover:text-slate-400" href={`${repo}/edit/main/${path}`}
				>Edit this page on GitHub</a
			>
		</footer>
	</div>


</html>
